/*公用部分*/
*
    margin 0
    padding 0
    box-sizing border-box
    line-height 1
    font-family Arial,Verdana
    -webkit-font-smoothing antialiased
    *vertical-align baseline
.clear
    clear both
input
button
    border none
    outline none
ul
dl
    list-style none
body
    height 12000px
a
    text-decoration none
    color inherit
.center
    margin-left auto
    margin-right auto
em
    font-style normal
.size12
    font-size 12px
.size14
    font-size 14px
.size16
    font-size 16px
.fl
    float left
.fr
    float right
#red
    color rgb(200,22,35)


