.firstScreen
    .sideBar-main
        position relative
        a
            cursor pointer
        .index
            cursor pointer
        .article
            width 730px
            position absolute
            top 200px
            left 223px
            cursor pointer
            i
                font-size 18px
                padding 20px 5px
                background black
                color white
                opacity 0.5
                &:first-child
                    float right
                &:last-child
                    float left
.index-all
    position absolute
    top 430px
    left 510px
.img-all
    .article
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none
.index
    width 20px
    height 20px
    line-height 20px
    font-size 14px
    border-radius 50%
    background rgb(62,62,62)
    color white
    float left
    text-align center
    margin-left 4px
.index-red
    background rgb(182,27,31)


