.hide
    position absolute
    opacity 0
    margin 12px 0 0 12px
.append
    float right
    margin-top 11px
    margin-right 5px
.block
    display block
.none
    display none
.appear
    opacity 0.5
    animation appear 1s ease forwards
@keyframes appear
    to
        opacity 1


